* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mr-top {
    margin-top: 6px;
}

.navbar {
    border-bottom: 1px solid #ccc;
}

.mg-r {
    margin-right: 50px;
}

.mg-l {
    margin-left: 50px;
}

.footer {
    background-color: #f8f9fa;
    font-size: 0.9rem;
}

.footer p,
.footer a,
a {
    color: black;
}

.footer a:hover {
    color: #ff5733;
    text-decoration: underline;
}

.mg-l {
    margin-left: 15px;
}

.btn-primary {
    height: 37px;
    width: 100px
}

.uppercase-text {
    text-transform: uppercase;
}

.wt {
    width: 120px;
}

.bg-image {
    background-image: url('https://png.pngtree.com/template/20210915/ourmid/pngtree-autumn-and-winter-new-fashion-childrens-clothing-banner-image_609875.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 50px;
}

.hover:hover {
    background-color: #007bff;
    /* Thay đổi thành màu bạn muốn */
    color: white;
}