<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxeWinter</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" class="">
    <link rel="stylesheet" href="../css/tttk.css" class="">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <div class="navbar d-flex justify-content-between img-avatar">
        <span class="me-3 row-2">📞 0363.361.798</span>
        <div class="m-2">
            <a href="#" class="m-2 ms-3 text-decoration-none">
                <i class="fas fa-user" style="font-size: 20px;"></i> Tài khoản
            </a>
            <a href="#" class="m-2 ms-3 text-decoration-none">
                <i class="fas fa-shopping-cart" style="font-size: 20px;"></i> Giỏ hàng
            </a>
        </div>
    </div>
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand fw-bold" href="#">LuxeWinter</a>

            <!-- menu link  -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex mx-auto">
                    <li class="nav-item mg-l"><a class="nav-link" href="#">Trang chủ</a></li>
                    <li class="nav-item mg-l"><a class="nav-link" href="#">Áo thu đông</a></li>
                    <li class="nav-item mg-l"><a class="nav-link" href="#">Áo xuân hè</a></li>
                    <li class="nav-item mg-l"><a class="nav-link" href="#">Quần</a></li>
                    <li class="nav-item mg-l"><a class="nav-link" href="#">Phụ kiện</a></li>
                    <li class="nav-item mg-l"><a class="nav-link" href="#">Thông tin</a></li>
                </ul>
            </div>

            <!-- Icons on the right -->
            <div>
                <form class="d-flex">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-search "></i></span>
                        <input class="form-control  me-1" type="search" placeholder="Tìm kiếm ..." aria-label="Search">
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!-- end nav  -->
    <!-- main -->
    <section>
        <div class="container">
            <div class="py-1">
                <a href="#">Trang chủ/</a><a href="#">Tài khoản</a>
            </div>
            <div class="row ">
                    <div class="col-md-4 text-center py-3 ">
                        <div class=" img-avatar  p-2 h6">Ảnh hồ sơ</div>
                        <img src="th.jpg" class="img-fluid rounded-circle w-50 mt-3" alt="">
                        <p class="mt-4">JPG hoặc PNG nhỏ hơn 5mb</p>
                        <button class="bg-light border-secondary rounded p-2">Tải ảnh lên</button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 mt-3">
                        <div class="img-avatar h6 p-2 text-center">Thông tin cá nhân</div>
                        <div>
                            <p class="mb-0 mt-3">Tên người dùng</p>
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Username..." aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-0 mt-3">Họ</p>
                                <div class="input-group flex-nowrap">
                                    <input type="text" class="form-control" placeholder="Username..." aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0 mt-3">Tên</p>
                                <div class="input-group flex-nowrap">
                                    <input type="text" class="form-control" placeholder="Username..." aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="mb-0 mt-3">Địa chỉ</p>
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Địa chỉ..." aria-label="Dress" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div>
                            <p class="mb-0 mt-3">Email</p>
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Email..." aria-label="Email" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-0 mt-3">Số điện thoại</p>
                                <div class="input-group flex-nowrap">
                                    <input type="text" class="form-control" placeholder="Số điện thoại..." aria-label="Phonenumber" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0 mt-3">Ngày sinh</p>
                                <div class="input-group flex-nowrap">
                                    <input type="text" class="form-control" placeholder="Ngày sinh" aria-label="Date" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            
                        </div>
                        <div class="mt-5">
                            <button class="bg-light border-secondary rounded p-2">Lưu thay đổi</button>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- end main  -->
    <!-- footer  -->
    <footer class="footer bg-white text-dark py-5">
        <div class="container">
            <div class="row">
                <!-- thông tin  -->
                <div class="col-md-3 text-center mb-3">
                    <h6 class="fw-bold uppercase-text">Gọi mua hàng (8:30 - 22:00)</h6>
                    <p><i class="fas fa-phone"></i> 0363.361.798</p>
                    <p>Tất Cả Các Ngày Trong Tuần</p>
                </div>

                <div class="col-md-3 text-center mb-3">
                    <h6 class="fw-bold uppercase-text">Góp Ý và khiếu nại</h6>
                    <p><i class="fas fa-phone"></i> 0363.361.798</p>
                    <p>Tất Cả Các Ngày Trong Tuần</p>

                </div>
                <div class="col-md-3 text-center mb-3">
                    <h6 class="fw-bold uppercase-text ct">Đăng Kí Nhận Thông Tin Mới</h6>
                    <form action="#" class="d-flex">
                        <input type="text" class="form-control me-2" placeholder="Nhập Email Của Bạn"
                            aria-label="Input">
                        <button class="btn btn-primary" type="submit">Đăng Kí</button>
                    </form>
                </div>

                <div class=" col-md-3 text-center mb-3">
                    <p class="fw-bold uppercase-text">theo dõi chúng tôi</p>
                    <a href="#" class="col-4">
                        <i class="fab fa-facebook-f"></i> <!-- Facebook icon -->
                    </a>
                    <a href="#" class="col-4">
                        <i class="fab fa-instagram"></i> <!-- Instagram icon -->
                    </a>
                    <a href="#" class="col-4">
                        <i class="fab fa-weixin"></i>
                        <!-- Zalo icon (dùng icon WeChat vì Zalo không có icon chính thức từ Font Awesome) -->
                    </a>
                    <a href="#" class="col-4">
                        <i class="fab fa-telegram-plane"></i> <!-- Telegram icon -->
                    </a>

                </div>
            </div>

            <!-- Other links -->
            <div class="row bg-light mt-4">
                <div class="col-3">
                    <h6>HỖ TRỢ KHÁCH HÀNG</h6>
                    <p>Hướng dẫn chọn size </p>
                    <p>Phương thức thanh toán</p>
                    <p>Chính sách vận chuyển</p>
                    <p>Chính sách bảo mật</p>
                    <p>Quy định đổi trả</p>
                    <p>Chính sách xử lý khiếu nại</p>
                </div>
                <div class="col-3">
                    <h6>VỀ CHÚNG TÔI </h6>
                    <p>HỘ KINH DOANH LuxeWinter</p>
                    <p>Địa Chỉ: Số 110 Phố Nhổn, Phường Tây Tựu, Quận Bắc Từ Liêm, Tp. Hà Nội</p>
                    <p>Mã Số Doanh Nghiệp: 01D-8004624</p>
                    <p>Email: atino@atino.vn</p>

                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- end footer -->
</body>

</html>